.button {
    border: none;
    background: orangered;
    border-radius: 8px;
    display: block;
    padding: 30px 120px;
    min-width: 100px;
    font-weight: bold;
    color: black;
  }
  
  .label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: orangered;
    margin-bottom: 8px;
  }
  
  input {
    margin-bottom: 50px;
    font-size: 60px;
    line-height: 24px;
    color: orangered;
    background-color: black;
  }
  
  input [type="text"] {
    border: 1px solid orangered;
    box-sizing: border-box;
    padding: 8px;
    border-radius:8px;
    
    
    width: 100%;
  }
  
  h2 {
    margin: 0;
    margin-bottom: 30px;
  }
  body{
    background-color: grey;
  }

 

 
 
 

  ul{
    background-color: orange
    
  }