body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
} 

.active {
    box-shadow: inset -5px 0px 0 0 grey;
    background: black;
    color:orange
} 

.app.layout {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}

.app aside {
    background: olive;
    background-color: orangered;
    flex: 1 1 auto;
    max-width: 200px;
    min-width: 120px;
}

.app header {
    padding: 20px 15px;
    margin-bottom: 30px;
}

.app nav li {
    transition: all .3s ease;
} 

.app nav li a {
    padding: 10px 15px;
    display: block;
}

.app main {
    flex: 1 1 auto;
    padding: 0 30px;
}

.app .page-title h1 {
    padding: 60px 0 30px 0;
}

.app .centered {
    max-width: 600px;
} 